<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
     <add id="Takeoff_HelloWorld::helloworld" title="Hello World" module="Takeoff_HelloWorld" sortOrder="51" resource="Takeoff_HelloWorld::helloworld"/>
        <add id="Takeoff_HelloWorld::post" title="Manage Posts" module="Takeoff_HelloWorld" sortOrder="10" action="takeoff_helloworld/post" resource="Takeoff_HelloWorld::post" parent="Takeoff_HelloWorld::helloworld"/>
        <add id="Takeoff_HelloWorld::hello_configuration" title="Configuration" module="Takeoff_HelloWorld" sortOrder="99" parent="Takeoff_HelloWorld::helloworld" action="adminhtml/system_config/edit/section/helloworld" resource="Takeoff_HelloWorld::helloworld_configuration"/>
    </menu>
</config>